### This notebook contains my answers to SQL questions

## a) How many orders were shipped by Speedy Express in total?

Answer: 54

Query
```
SELECT count(*)
FROM   (SELECT *
        FROM   orders
               LEFT JOIN shippers
                      ON orders.shipperid = shippers.shipperid) A
WHERE  A.shippername = 'Speedy Express'; 
```

## b) What is the last name of the employee with the most orders?

Answer: Peacock

```
SELECT lastname
FROM   employees
WHERE  employeeid = (SELECT employeeid
                     FROM   (SELECT employeeid,
                                    Count(*) AS counter
                             FROM   (SELECT O.orderid,
                                            O.employeeid,
                                            O.orderdate,
                                            E.lastname,
                                            E.firstname
                                     FROM   orders O
                                            LEFT JOIN employees E
                                                   ON O.employeeid =
                                                      E.employeeid) A
                             GROUP  BY employeeid
                             ORDER  BY counter DESC
                             LIMIT  1) B); 

```

## c) What product was ordered the most by customers in Germany?

Answer: Boston Crab Meat


```
SELECT productname
FROM   products
WHERE  productid = (SELECT productid
                    FROM   (SELECT country,
                                   productid,
                                   Sum(quantity) AS totalquantity
                            FROM   (SELECT c.customername,
                                           c.country,
                                           A.customerid,
                                           A.productid,
                                           A.quantity
                                    FROM   (SELECT orr.customerid,
                                                   od.productid,
                                                   od.quantity
                                            FROM   orders orr
                                                   LEFT JOIN orderdetails od
                                                          ON orr.orderid =
                                                             od.orderid)
                                           A
                                           LEFT JOIN customers c
                                                  ON
                                   A.customerid = c.customerid) B
                            GROUP  BY country,
                                      productid
                            ORDER  BY country ASC,
                                      totalquantity DESC)C
                    WHERE  country = 'Germany'
                    LIMIT  1); 
```

Here my answers are implemented using subqueries, but we can also use window commands like partition by, dense ranking etc. I look forward to discussing them in detail.