In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
train_data = pd.read_json('train_data.json',orient="index")
test_data = pd.read_json('test_data.json',orient='index')

In [3]:
train_data.head()

,cities,dow,genres,segment,titles,tod
train-1,"gurgaon:55494,delhi:31892","1:3412,3:15878,2:1737,5:10975,4:20974,7:17820,...","Cricket:82379,Kabaddi:255,Reality:4751",neg,"Top Raids: Haryana vs Services SCB:103,Day 4: ...","10:26,13:331,12:323,20:21864,21:16233,17:7953,..."
train-10,"delhi:5862,nagar:8916,mumbai:1593","1:5745,3:3025,2:3346,5:123,4:3007,7:1108,6:10","Cricket:15640,Wildlife:730",neg,"Dhoni Quits Captaincy:148,Day 4: India Move in...","11:1661,10:384,20:401,21:798,22:221,16:525,19:..."
train-100,navi mumbai:4142,3:4142,"LiveTV:13,Football:4129",neg,"Star Sports 4:13,Manchester United vs Everton:...","1:1207,0:2406,2:529"
train-1000,"new delhi:4131,chennai:2878,navi mumbai:1339","1:658,3:5867,5:413,4:1339,7:71","TalkShow:658,Cricket:7690",neg,"SRH vs RCB:701,KKR vs KXIP:1042,MI vs SRH:2288...","11:71,20:2417,21:1042,23:2288,19:1872,8:658"
train-10000,"gurgaon:6077,chennai:4055","1:1641,2:480,4:1445,7:1663,6:4900","Drama:5503,Cricket:3283,Reality:1345",neg,"MI vs KKR:304,Yeh Rishta Kya Kehlata Hai:5449,...","20:158,22:4139,17:67,23:1510,19:288,18:56,0:23..."

In [4]:
#set index
train_data.reset_index(level = 0, inplace = True)
train_data.rename(columns={'index':'ID'}, inplace=True)

test_data.reset_index(level = 0, inplace = True)
test_data.rename(columns={'index':'ID'}, inplace=True)

In [5]:
train_data.head()

,ID,cities,dow,genres,segment,titles,tod
0,train-1,"gurgaon:55494,delhi:31892","1:3412,3:15878,2:1737,5:10975,4:20974,7:17820,...","Cricket:82379,Kabaddi:255,Reality:4751",neg,"Top Raids: Haryana vs Services SCB:103,Day 4: ...","10:26,13:331,12:323,20:21864,21:16233,17:7953,..."
1,train-10,"delhi:5862,nagar:8916,mumbai:1593","1:5745,3:3025,2:3346,5:123,4:3007,7:1108,6:10","Cricket:15640,Wildlife:730",neg,"Dhoni Quits Captaincy:148,Day 4: India Move in...","11:1661,10:384,20:401,21:798,22:221,16:525,19:..."
2,train-100,navi mumbai:4142,3:4142,"LiveTV:13,Football:4129",neg,"Star Sports 4:13,Manchester United vs Everton:...","1:1207,0:2406,2:529"
3,train-1000,"new delhi:4131,chennai:2878,navi mumbai:1339","1:658,3:5867,5:413,4:1339,7:71","TalkShow:658,Cricket:7690",neg,"SRH vs RCB:701,KKR vs KXIP:1042,MI vs SRH:2288...","11:71,20:2417,21:1042,23:2288,19:1872,8:658"
4,train-10000,"gurgaon:6077,chennai:4055","1:1641,2:480,4:1445,7:1663,6:4900","Drama:5503,Cricket:3283,Reality:1345",neg,"MI vs KKR:304,Yeh Rishta Kya Kehlata Hai:5449,...","20:158,22:4139,17:67,23:1510,19:288,18:56,0:23..."

In [6]:
#check data
print ('Train data has {} rows and {} columns'.format(train_data.shape[0],train_data.shape[1]))
print ('test_data data has {} rows and {} columns'.format(test_data.shape[0],test_data.shape[1]))

Train data has 200000 rows and 7 columns
test_data data has 100000 rows and 6 columns

In [7]:
#Encode Target Variable
train_data = train_data.replace({'segment':{'pos':1,'neg':0}})

In [9]:
#check target variable count
train_data['segment'].value_counts()

0    184745
1     15255
Name: segment, dtype: int64

### Creating separate columns for genres and dow variables

#### train data

In [16]:
train_data['g1'] = [re.sub(pattern='\:\d+',repl='',string=x) for x in train_data['genres']]
train_data['g1'] = train_data['g1'].apply(lambda x: x.split(','))

train_data['g2'] = [re.sub(pattern='\:\d+', repl='', string = x) for x in train_data['dow']]
train_data['g2'] = train_data['g2'].apply(lambda x: x.split(','))

t1 = pd.Series(train_data['g1']).apply(frozenset).to_frame(name='t_genre')
t2 = pd.Series(train_data['g2']).apply(frozenset).to_frame(name='t_dow')

In [20]:
# using frozenset trick - might take few minutes to process
for t_genre in frozenset.union(*t1.t_genre):
    t1[t_genre] = t1.apply(lambda _: int(t_genre in _.t_genre), axis=1)

In [21]:
t1

,t_genre,Table Tennis,Hockey,TalkShow,Wildlife,Science,Crime,Romance,NA,Drama,...,Football,Tennis,Awards,Kabaddi,Badminton,Horror,Reality,Family,Volleyball,Kids
0,"(Cricket, Kabaddi, Reality)",0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,"(Cricket, Wildlife)",0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"(Football, LiveTV)",0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,"(Cricket, TalkShow)",0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"(Cricket, Drama, Reality)",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
5,"(Cricket, Drama, Action)",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,"(Mythology, TalkShow, Action, Reality, Romance)",0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
7,"(Cricket, Drama)",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,"(Cricket, Comedy)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,"(Cricket, TalkShow, Drama, Action, Kids)",0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
10,(Drama),0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11,"(Mythology, Crime)",0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,"(TalkShow, Drama, Crime, Family, Romance)",0,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0
13,"(Family, Romance)",0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
14,(LiveTV),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,"(Cricket, LiveTV, Sport, Romance)",0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16,(Drama),0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,(Family),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
18,"(TalkShow, Drama, Family, Action, Romance)",0,0,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
19,"(Reality, Comedy)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,"(Drama, Comedy, Romance)",0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
21,"(LiveTV, Teen, TalkShow, Reality, Awards, Come...",0,0,1,0,0,0,1,0,1,...,0,0,1,0,0,0,1,0,0,0
22,"(Cricket, TalkShow)",0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,"(Cricket, Sport, Action, Comedy)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,(Family),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
25,(TalkShow),0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,"(Cricket, Drama, Family, Awards, Romance)",0,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,1,0,0
27,"(Drama, Family, Action)",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
28,(Action),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,(Drama),0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199970,(TalkShow),0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199971,"(Cricket, Reality)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
199972,"(Mythology, Horror, Cricket, TalkShow, Reality...",0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
199973,"(Cricket, Mythology)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199974,"(Cricket, TalkShow, Action, Awards)",0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
199975,"(Mythology, Teen, Crime, Family, Comedy, Roman...",0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0
199976,(Comedy),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199977,"(Cricket, Drama)",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
199978,"(Crime, Comedy)",0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199979,"(Cricket, Reality, Crime, Family, Comedy, Roma...",0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,1,1,0,1
199980,"(Cricket, TalkShow, Drama, Reality, Comedy)",0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
199981,"(Cricket, Drama)",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
199982,"(Cricket, Thriller, Action, Romance)",0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
199983,"(Reality, Comedy)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
199984,(Action),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199985,(Comedy),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199986,"(Cricket, TalkShow, Family, Reality, Romance)",0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
199987,"(Cricket, Thriller, Romance)",0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
199988,"(Cricket, Crime, Comedy)",0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199989,(Comedy),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199990,"(Cricket, TalkShow)",0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199991,"(Cricket, TalkShow, Reality, Crime, Family, Ro...",0,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,1,1,0,0
199992,"(Drama, Crime, Awards)",0,0,0,0,0,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
199993,"(Reality, Family, Comedy)",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
199994,"(TalkShow, Reality, Family, Comedy, Romance, D...",0,0,1,0,0,0,1,0,1,...,0,0,0,0,0,0,1,1,0,0
199995,(TalkShow),0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199996,(Romance),0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
199997,"(Cricket, Crime, LiveTV)",0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199998,"(Badminton, Horror, Hockey, Cricket, Football,...",0,1,0,0,0,1,0,0,0,...,1,0,0,0,1,1,0,0,0,0
199999,"(Cricket, Drama, Comedy)",0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [22]:
for t_dow in frozenset.union(*t2.t_dow):
    t2[t_dow] = t2.apply(lambda _: int(t_dow in _.t_dow), axis = 1)

In [23]:
train_data = pd.concat([train_data.reset_index(drop=True), t1], axis=1)
train_data = pd.concat([train_data.reset_index(drop=True), t2], axis=1)

In [26]:
train_data['Cricket'].head()

0    1
1    1
2    0
3    1
4    1
Name: Cricket, dtype: int64

#### test data

In [27]:
test_data['g1'] = [re.sub(pattern='\:\d+',repl='',string=x) for x in test_data['genres']]
test_data['g1'] = test_data['g1'].apply(lambda x: x.split(','))

test_data['g2'] = [re.sub(pattern='\:\d+', repl='', string = x) for x in test_data['dow']]
test_data['g2'] = test_data['g2'].apply(lambda x: x.split(','))

t1_te = pd.Series(test_data['g1']).apply(frozenset).to_frame(name='t_genre')
t2_te = pd.Series(test_data['g2']).apply(frozenset).to_frame(name='t_dow')

In [28]:
for t_genre in frozenset.union(*t1_te.t_genre):
    t1_te[t_genre] = t1_te.apply(lambda _: int(t_genre in _.t_genre), axis=1)

In [29]:
for t_dow in frozenset.union(*t2_te.t_dow):
    t2_te[t_dow] = t2_te.apply(lambda _: int(t_dow in _.t_dow), axis = 1)

In [30]:
test_data = pd.concat([test_data.reset_index(drop=True), t1_te], axis=1)
test_data = pd.concat([test_data.reset_index(drop=True), t2_te], axis=1)

### sum of watch time from titles

In [31]:
#the rows aren't list exactly. They are object, so we convert them to list and extract the watch time
w1 = train_data['titles']
w1 = w1.str.split(',')

#create a nested list of numbers
main = []
for i in np.arange(train_data.shape[0]):
    d1 = w1[i]
    nest = []
    nest = [re.sub(pattern = '.*\:', repl=' ', string= d1[k]) for k in list(np.arange(len(d1)))]
    main.append(nest)

#### Turns out, there are blank values in the list, we need to fix them before we could add
#### Fixing blanks in the list now

In [33]:
blanks = []
for i in np.arange(len(main)):
    if '' in main[i]:
        print('{} blanks found'.format(len(blanks)))
        blanks.append(i)
        
#replacing blanks with 0
for i in blanks:
    main[i] = [x.replace('','0') for x in main[i]]
    
#converting string to integers
main = [[int(y) for y in x] for x in main]

#adding the watch time
tosum = []
for i in np.arange(len(main)):
    s = sum(main[i])
    tosum.append(s)

0 blanks found
1 blanks found
2 blanks found
3 blanks found
4 blanks found
5 blanks found
6 blanks found
7 blanks found
8 blanks found
9 blanks found
10 blanks found
11 blanks found
12 blanks found
13 blanks found
14 blanks found
15 blanks found
16 blanks found
17 blanks found
18 blanks found
19 blanks found
20 blanks found
21 blanks found
22 blanks found
23 blanks found
24 blanks found
25 blanks found
26 blanks found
27 blanks found
28 blanks found
29 blanks found
30 blanks found
31 blanks found
32 blanks found
33 blanks found
34 blanks found
35 blanks found
36 blanks found
37 blanks found
38 blanks found
39 blanks found
40 blanks found
41 blanks found
42 blanks found
43 blanks found
44 blanks found
45 blanks found

In [34]:
train_data['title_sum'] = tosum

In [36]:
#making changes in test data
w1_te = test_data['titles']
w1_te = w1_te.str.split(',')

In [37]:
main_te = []
for i in np.arange(test_data.shape[0]):
    d1 = w1_te[i]
    nest = []
    nest = [re.sub(pattern = '.*\:', repl=' ', string= d1[k]) for k in list(np.arange(len(d1)))]
    main_te.append(nest)

In [39]:
blanks_te = []
for i in np.arange(len(main_te)):
    if '' in main_te[i]:
        print("{} blanks found".format(len(blanks_te)))
        blanks_te.append(i)
        
#replacing blanks with 0
for i in blanks_te:
    main_te[i] = [x.replace('','0') for x in main_te[i]]
    
#converting string to integers
main_te = [[int(y) for y in x] for x in main_te]

#adding the watch time
tosum_te = []
for i in np.arange(len(main_te)):
    s = sum(main_te[i])
    tosum_te.append(s)

0 blanks found
1 blanks found
2 blanks found
3 blanks found
4 blanks found
5 blanks found
6 blanks found
7 blanks found
8 blanks found
9 blanks found
10 blanks found
11 blanks found

In [40]:
test_data['title_sum'] = tosum_te

### create count variables

In [41]:
#count variables
def wcount(p):
    return p.count(',')+1

In [42]:
train_data['title_count'] = train_data['titles'].map(wcount)
train_data['genres_count'] = train_data['genres'].map(wcount)
train_data['cities_count'] = train_data['cities'].map(wcount)
train_data['tod_count'] = train_data['tod'].map(wcount)
train_data['dow_count'] = train_data['dow'].map(wcount)


test_data['title_count'] = test_data['titles'].map(wcount)
test_data['genres_count'] = test_data['genres'].map(wcount)
test_data['cities_count'] = test_data['cities'].map(wcount)
test_data['tod_count'] = test_data['tod'].map(wcount)
test_data['dow_count'] = test_data['dow'].map(wcount)

### remove variables

In [43]:
test_id = test_data['ID']
train_data.drop(['ID','cities','dow','genres','titles','tod','g1','g2','t_genre','t_dow'], inplace=True, axis=1)
test_data.drop(['ID','cities','dow','genres','titles','tod','g1','g2','t_genre','t_dow'], inplace=True, axis=1)

### training data

In [44]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import roc_auc_score, make_scorer
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [47]:
train_data.head()

,Table Tennis,Hockey,TalkShow,Wildlife,Science,Crime,Romance,NA,Drama,Sport,...,7,5,3,6,title_sum,title_count,genres_count,cities_count,tod_count,dow_count
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,87363,60,3,2,14,7
1,0,0,0,1,0,0,0,0,0,0,...,1,1,1,1,16356,70,2,3,16,7
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,4142,2,2,1,3,1
3,0,0,1,0,0,0,0,0,0,0,...,1,1,1,0,8348,8,2,3,6,5
4,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,10129,11,3,2,9,5

In [45]:
target = train_data['segment']
train_data.drop('segment',axis=1, inplace=True)

In [69]:
## uncomment to do grid search - could get better score
# X_train, X_val, y_train, y_val = train_test_split(train_data, target, train_size=0.6, random_state = 1)

## doing grid search for parameters
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.grid_search import GridSearchCV
# from sklearn.metrics import roc_auc_score, make_scorer
# clf_scorer = make_scorer('roc_auc')
# rfc = RandomForestClassifier(n_estimators=100,oob_score=True,)
# param_grid = {
#     'max_depth':[4,8,12],
#     'max_features':['sqrt',10,15]
    
# }

# cv_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5, scoring=clf_scorer)
# cv_rfc.best_params_

In [46]:
#train final model
rf_model = RandomForestClassifier(n_estimators=500,max_depth=12, max_features=10)
rf_model.fit(train_data, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=12, max_features=10, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [48]:
#make prediction
rf_pred = rf_model.predict_proba(test_data)

In [49]:
#make submission file and submit
columns = ['segment']
sub = pd.DataFrame(data=rf_pred[:,1], columns=columns)
sub['ID'] = test_id
sub = sub[['ID','segment']]
sub.to_csv("sub_hot.csv", index=False) #0.79709